<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.0" name="fedora-cowsay">
  <description type="system">
    <author>David Cassany</author>
    <contact>dcassany@suse.com</contact>
    <specification>Cowsay running on a Fedora docker guest</specification>
  </description>
  <preferences>
    <!-- docker-daemon transport requires to docker pull the image in advance -->
    <type image="docker" derived_from="docker-daemon:fedora:29">
      <containerconfig
        name="fedora/cowsay"
        maintainer="David Cassany &lt;dcassany@suse.com&gt;">
        <entrypoint execute="entrypoint"/>
        <!-- Lets clear any subcommand inherited from the base image -->
        <subcommand clear="true"/>
      </containerconfig> 
    </type>
    <version>1.0.0</version>
    <packagemanager>dnf</packagemanager>
  </preferences>
  <users>
    <user home="/root" name="root" groups="root"/>
  </users>
  <repository type="rpm-md" alias="Fedora29">
    <source path="http://ftp.fau.de/fedora/linux/releases/29/Everything/x86_64/os"/>
  </repository>
  <repository type="rpm-md" alias="Fedora29-updates">
    <source path="http://ftp.fau.de/fedora/linux/updates/29/x86_64"/>
  </repository>
  <packages type="image">
    <package name="fortune-mod"/>
    <package name="cowsay"/>
  </packages>
</image>
